#header {
    background-color: darkblue;
    color: white;
    width: 100%;
    height: 100px;
    text-align: center;
    margin-bottom: 100px;
}

#title {
    font-size: 80px;
}

#wrapper {
    width: 100%;
}

#table1 {
    width: 100%;
}

td {
    width: 33%;
    text-align: center;
    font-size: 36pt;
    font-weight: 900;
    background-color: #eeeeee;
}

.td1 {
    border: solid 10px deeppink;
}

input[type=submit] {
    width: 333px;
    height: 400px;
}

.typetext {
    font-size: 60px;
}

a {
    text-decoration: none;
    display: block;
    padding: 100px 0px;
}

a:link, a:hover, a:visited, a:active {
    color: darkblue;
}